<style>
    .banner {display:block;}
</style>

<div class="homepage-main-container">
    <div class="widget">
        <div class="widget-icon">
            <%= image_tag 'icon-workout.jpg', :class => "" %>
        </div>
        <div class="widget-title">
            <h1>Workouts</h1>
            <h3>Ketogenic Workouts</h3>
        </div>
        <%= image_tag 'widget-workout.jpg', :class => "widget-pic" %>
        <p>
        Learn about how the workouts needed to succeed witht he Ketogenic diet. These workouts will be geared tohelp you reach your specific goals. They will also keep your safety in mind because of your new food intake.
        </p>
        <%= link_to "Learn More", root_path, class: "sign-up" %>
    </div>
    <div class="widget">
        <div class="widget-icon">
            <%= image_tag 'icon-food.jpg', :class => "" %>
        </div>
        <div class="widget-title">
            <h1>Foods</h1>
            <h3>Ketogenic Foods</h3>
        </div>
        <%= image_tag 'widget-food.jpg', :class => "widget-pic" %>
        <p>
        Food is the most important part of any workout plan. Learn more about what foods you can and can’t eat. You can pick the foods you like and make your own food list so you will have everything you need to succeed.
        </p>
        <%= link_to "Learn More", foods_path, class: "sign-up" %>
    </div>
    <div class="widget">
        <div class="widget-icon">
            <%= image_tag 'icon-account.jpg', :class => "" %>
        </div>
        <div class="widget-title">
            <h1>Account</h1>
            <h3>Visit Your Account</h3>
        </div>
        <%= image_tag 'widget-account.jpg', :class => "widget-pic" %>
        <p>
        Click here to login to your account. When on your account page you can create your food list, create your workout plan and edit your profile. Everything is centeralized to make it easy to reach your goals.
        </p>
        <%= link_to "Learn More", root_path, class: "sign-up" %>
    </div>
</div>